{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('First time here?')}}</p>
<ol>
  <li>{{=T('Please sign up (top right hand option)')}}</li>
  <!--<li>{{=XML(T('Fill out a brief survey about your medical history %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>-->
  <li><span>Fill out a brief survey about your medical history</span><a href="{{=URL('default','display_form')}}"> here</a></li>
  <li>Sync your email and phone to receive alerts about upcoming appointments</li>
  <li>Take advantage of our extra resources to find your healthy lifestyle</li>
</ol>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("Edit Profile")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Useful Links")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item"><a href="http://webmd.com">WebMD</a></li>
    <li class="list-group-item"><a href="http://www.medicinenet.com/script/main/hp.asp">MedicineNet</a></li>
    <li class="list-group-item"><a href="https://www.ncbi.nlm.nih.gov/pubmed/k">PubMed</a></li>
  </ul>
</div>
{{end}}
